{% extends "base.html" %}
{% block conteudo %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Altura</th>
            <th>Velocidade</th>
            <th>Ataque</th>
            <th>Defesa</th>
            <th>Ataque Especial</th>
            <th>Defesa Especial</th>
            <th>Categoria</th>
            <th>Habilidades</th>
        </tr>
        </thead>
        <tbody>
        {% for objeto in todos_pokemons %}
            <tr scope="row">
                <td><a href="{% url 'pokedex:um_pokemon' idpokemon=objeto.id %}">
                    {{ objeto.id }}</a></td>
                <td>{{ objeto.nome }}</td>
                <td>{{ objeto.altura }}</td>
                <td>{{ objeto.velocidade }}</td>
                <td>{{ objeto.ataque }}</td>
                <td>{{ objeto.defesa }}</td>
                <td>{{ objeto.ataque_especial }}</td>
                <td>{{ objeto.defesa_especial }}</td>
                <td>{{ objeto.fk_categoria.nome }}</td>
                <td>{{ objeto.fk_habilidades.nome }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}