{% extends "base.html" %}
{% block conteudo %}
    <h1 align="center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-xioWkApjxVhixlWEMZE9pscUM8bzGqU_-gES8O7_amuTBj2BgQ" alt="Eevee" class="card__image"></h1></br>
    <!--<table class="table table-hover">
        <thead>
        <tr align="center" class="p-3 mb-2 bg-dark text-white">
            <th>ID</th>
            <th>NOME</th>
            <th>ATAQUE</th>
            <th>DEFESA</th>
            <th>CATEGORIA</th>
            <th>HABILIDADES</th>
        </tr>
        </thead>
        <tbody>
        {% for objeto in todos_pokemons %}
            <tr align="center" scope="row">
                <td><a href="{% url 'pokedex:um_pokemon' idpokemon=objeto.id %}">
                    {{ objeto.id }}</a></td>
                <td>{{ objeto.nome }}</td>
                <td>{{ objeto.ataque }}</td>
                <td>{{ objeto.defesa }}</td>
                <td>{{ objeto.fk_categoria.nome }}</td>
                <td>{% for habilidade in objeto.fk_habilidades.all %} <span class="badge badge-dark">{{ habilidade.nome }}</span>{% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>-->
<div id="cards">
    {% for objeto in todos_pokemons %}
        <figure class="card card--normal">
          <div class="card__image-container">
            <img src="{{ objeto.imagem.url }}" alt="Eevee" class="card__image">
          </div>

          <figcaption class="card__caption">
            <h1 class="card__name">{{ objeto.nome }}<br>ID <a href="{% url 'pokedex:um_pokemon' idpokemon=objeto.id %}">
                    {{ objeto.id }}</a></h1>

            <h3 class="card__type">
              {{ objeto.fk_categoria.nome }}
            </h3>

            <table class="card__stats">
              <tbody><tr>
                <th>Ataque</th>
                <td>{{ objeto.ataque }}</td>
              </tr>
              <tr>
                <th>Defesa</th>
                <td>{{ objeto.defesa }}</td>
              </tr>
              <tr>
                <th>Habilidades:</th>
                <td>{% for habilidade in objeto.fk_habilidades.all %}<span class="">{{ habilidade.nome }} </span>{% endfor %}</td>
              </tr>
            </tbody></table>

            <!--<div class="card__abilities">
              <h4 class="card__ability">
                <span class="card__label">Ability</span>
                Run Away
              </h4>
              <h4 class="card__ability">
                <span class="card__label">Hidden Ability</span>
                Anticipation
              </h4>
            </div>-->
          </figcaption>
        </figure>
    {% endfor %}
</div>
</script>
{% endblock %}