{% extends "base.html" %}
{% block conteudo %}
<h1 align="center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-xioWkApjxVhixlWEMZE9pscUM8bzGqU_-gES8O7_amuTBj2BgQ" alt="Eevee" class="card__image"></h1></br>
 <!--<div class="card mb-3"  style="width: 18rem;">
      <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ pokemon.imagem.url }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ pokemon.nome }}</h5>
            <ul class="list-group list-group-flush-center">
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Ataque: {{ pokemon.ataque }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Defesa: {{ pokemon.defesa }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Ataque Especial: {{ pokemon.ataque_especial }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Defesa Especial: {{ pokemon.defesa_especial }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Altura: {{ pokemon.altura }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Velocidade: {{ pokemon.velocidade }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Pontos de Saúde: {{ pokemon.ponto_saude }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Categoria: {{ pokemon.fk_categoria.nome }}</li>
            <li class="list-group-item p-3 mb-2 bg-secondary text-white">Habilidades: {% for habilidade in pokemon.fk_habilidades.all %}<span class="">{{ habilidade.nome }} </span>{% endfor %}</li>
            </ul>
            <!--<p class="card-text">Ataque: {{ pokemon.ataque }}</p>
            <p class="card-text">Defesa: {{ pokemon.defesa }}</p>
            <p class="card-text">Categoria: {{ pokemon.fk_categoria.nome }}</p>
        </div>
 </div>-->
<div id="cards">

<figure class="card {{pokemon.estilo_card.classe}}">
  <div class="card__image-container">
    <img src="{{ pokemon.imagem.url }}" alt="Eevee" class="card__image">
  </div>

  <figcaption class="card__caption">
    <h1 class="card__name">{{ pokemon.nome }}</h1>

    <h3 class="card__type">
      {{ pokemon.fk_categoria.nome }}
    </h3>

    <table class="card__stats">
      <tbody><tr>
        <th>Ataque</th>
        <td>{{ pokemon.ataque }}</td>
      </tr>
      <tr>
        <th>Defesa</th>
        <td>{{ pokemon.defesa }}</td>
      </tr>
      <tr>
        <th>Ataque Especial</th>
        <td>{{ pokemon.ataque_especial }}</td>
      </tr>
      <tr>
        <th>Defesa Especial</th>
        <td>{{ pokemon.defesa_especial }}</td>
      </tr>
      <tr>
        <th>Altura</th>
        <td>{{ pokemon.altura }}</td>
      </tr>
      <tr>
        <th>Velocidade</th>
        <td>{{ pokemon.velocidade }}</td>
      </tr>
       <tr>
        <th>Pontos de Saúde</th>
        <td>{{ pokemon.ponto_saude }}</td>
      </tr>
      <tr>
        <th>Habilidades:</th>
        <td>{% for habilidade in pokemon.fk_habilidades.all %}<span class="">{{ habilidade.nome }} </span>{% endfor %}</td>
      </tr>
    </tbody></table>

    <!--<div class="card__abilities">
      <h4 class="card__ability">
        <span class="card__label">Ability</span>
        Run Away
      </h4>
      <h4 class="card__ability">
        <span class="card__label">Hidden Ability</span>
        Anticipation
      </h4>
    </div>-->
  </figcaption>
</figure>
</div>
</script>

<a href="{% url 'pokedex:listar_pokemons' %}">
  <button type="button" class="btn btn-warning">Voltar</button>
</a>
{% endblock %}